.voucher-page .voucher-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    margin-top: 0.1rem;
}
.voucher-page .voucher-box {
    width: 3.53rem;
    height: 0.86rem;
    display: grid;
    background-color: #ffb509;
    color: white;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border-radius: 0.1rem;
}

.voucher-page .voucher-box.grey {
    background-color: #979797;
    color: #333;
}

.voucher-page .voucher-box .amount {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    font-size: 0.18rem;
    border-right: 1px #fff dashed;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
}

.voucher-page .voucher-box .description {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
    margin-bottom: 0.05rem;
}

.voucher-page .voucher-box .expire {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 0.1rem;
    align-self: flex-start;
    margin-top: 0.05rem;
}

.voucher-page .voucher-box .status {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}
