.home-page .banner {
    height: 2.3rem;
    background-color: #73d13d;
}
.home-page .banner .location {
    font-size: 0.16rem;
    color: #fff;
    font-weight: 500;
    padding-top: 0.15rem;
    padding-left: 0.14rem;
    display: flex;
    align-items: center;
}

.home-page .banner .location .location-icon {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.08rem;
}

.home-page .banner .search {
    width: 3.4rem;
    height: 0.36rem;
    background-color: #fff;
    margin: 0.13rem auto 0.2rem auto;
    border-radius: 0.2rem;
    /* line-height: 0.36rem; */
    padding-left: 0.12rem;
    font-size: 0.14rem;
    color: #808080;
    display: flex;
    align-items: center;
}

.home-page .banner .search .search-icon {
    width: 0.2rem;
    height: 0.2rem;
}

.home-page .banner .banner-carousel {
    width: 3.4rem;
    height: 0.9rem;
    /* overflow: hidden; */
    margin: 0 auto;
    border-radius: 0.2rem;
}

.home-page .banner .banner-carousel .banner-image {
    width: 3.4rem;
    height: 0.9rem;
    object-fit: cover; /* scale the image to cover its container */
    object-position: center; /* center the image in its container */
}

.home-page .banner .banner-carousel .image-box {
    position: relative;
}
.home-page .banner .banner-carousel .image-figure {
    background-color: #52c41a;
    position: absolute;
    bottom: 0.03rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    padding: 0 0.06rem;
    border-radius: 0.05rem;
    font-size: 0.12rem;
    letter-spacing: 0.02rem;
}
.home-page .banner .banner-carousel .slick-dots {
    opacity: 0;
}
