.btn-container .add-address-btn {
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.43rem;
    height: 0.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #73d13d;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.14rem;
    margin: 0 auto;
}
